body {
    font-family: Arial, sans-serif;
    background-color: #222222;
  }

  h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
    font-family: Kanit;
    margin-left: 20px;
    margin-right: 20px;
  }

  a{
    color: #ffffff;
    font-family: Kanit;
  }
  p{
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;
    font-family: Kanit;
    color: #ffffff;
  }

  li,
  ul {
    align-self: center;
    font-family: Kanit;
    color: #ffffff;
  }

  footer div {
    display: flex;
    justify-content: center;
  }

  hr {
    margin-left: 20px;
    margin-right: 20px;
  }

  textarea {
    margin-left: 20px;
    margin-right: 20px;
    resize: none;
    padding: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    font-family: Kanit;
    
  }