@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

:root {
    --primary-color: #08f;
    --secondary-color: #4c00ff;
    --tertiary-color: #97f7f7;
    --quaternary-color: #4e26ab;
    --quinary-color: #09f;
    --white: #fff;
    --black: #202020;
    --transition: all 0.3s ease;
    --box-shadow: 0 6px 16px -2px rgba(54, 85, 178, .12);
}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Noto Sans Thai", sans-serif;
    transition: var(--transition);
}

/* ----------------------- Background -----------------------*/

.blob-outer-container {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
    inset: 0;
    margin: auto;
    filter: blur(100px);
    opacity: 0.5;
}

.blob-inner-container {
    border-radius: 99999px;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50vw;
    height: 50vh;
    min-width: 1000px;
    overflow: hidden;
    background-color: #fff;
    transform: scale(0.85);
}

.blob {
    position: fixed;
    width: 100vw;
    height: 100vh;
    inset: 0;
    margin: auto;
    background: conic-gradient(from 0deg, #7bb1ff, #a6aaff, #f1b9f3, #9dfdfd, #7bb1ff, #a6aaff, #f1b9f3, #9dfdfd, #7bb1ff);
    animation: spinBlob 8s linear infinite;
}

@keyframes spinBlob {
    0% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(1turn) scale(2);
    }
}

/* ----------------------- NavBar -----------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px 24px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar h1 {
    color: #2563eb;
    font-size: 24px;
    text-transform: uppercase;
}

.navbar a,
.navbar button {
    margin-left: 15px;
    text-decoration: none;
    color: #6b7280;
    font-size: 16px;
}

.navbar a:hover {
    color: #2563eb;
}

.navbar button {
    background-color: #2563eb;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

/* ----------------------- Content -----------------------*/

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.home-page {
    background-color: var(--white);
    height: 100vh;
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 1320px;
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 1;
    opacity: 0;
    animation: slideInFromRight 1.5s ease-in-out forwards;
}

.content .title {
    color: var(--black);
    font-weight: 900;
    font-size: 64px;
    /* padding: 10px; */
    border-radius: 10px;
    white-space: pre-line;
    text-align: center;
    text-transform: uppercase;
}

.highlight {
    background: linear-gradient(to top right, #7bb1ff, #a6aaff, #f1b9f3, #9dfdfd, #7bb1ff, #a6aaff, #f1b9f3, #9dfdfd, #7bb1ff);
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 5s linear infinite;
    transform: translateZ(0);
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0
    }

    to {
        background-position: 100% 200%
    }
}

.features {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    opacity: 0;
    animation: slideInFromRight-15p 1.5s ease-in-out forwards;
}

.feature-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 6px 16px -2px rgba(54, 85, 178, .12);
    width: 250px;
    &:hover {
        transform: translateY(-5px);
    }
}

.feature-box .icon-bg {
    background: linear-gradient(to bottom, rgba(96, 173, 255, 0.25), rgba(0, 123, 255, 0) 99%);
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.feature-box h3 {
    color: #2563eb;
}

/* ----------------------- Footer -----------------------*/

/* footer {
    z-index: 1;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 24px;
    color: var(--white);
    font-size: 16px;
    background-color: var(--black);
} */
 
/* ----------------------- Button -----------------------*/

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: fit-content;
    font-size: 18px;
    color: var(--white);
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: var(--transition);

    svg {
        margin-left: 8px;
        width: 24px;
        height: 24px;
    }

    &.primary {
        background-color: #2563eb;
        box-shadow: var(--box-shadow);

        &:hover {
            background-color: #133999;
            transform: translateY(-2px);
            transition: var(--transition);
        }

        & i {
            animation: arrowLoop 1.5s infinite ease-in-out;
            /* transition: transform 0.4s ease-out, opacity 0.4s ease-out; */
        }

        /* &:hover i {
            transform: translateX(10px);
            opacity: 0;
        } */
    }
}

@keyframes arrowLoop {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(10px);
        opacity: 0;
    }

    51% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ----------------------- Animation -----------------------*/

@keyframes slideInFromRight {
    0% {
        transform: translateX(5%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight-15p {
    0% {
        transform: translateX(15%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}