@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  /* line-height: 1.5; */
  color: #333;
  margin: auto;
  /* background-color: #333; */
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: #ed8b8b; */
  color: #fff;
  /* padding: 10px; */
  padding: 0 163px 0 163px;
  text-align: center;
}
.container {
  margin: 0 auto;
  /* background-color: #8b40ee; */
  padding: 24px 163px 24px 163px;
    display: flex;
    flex-direction: column;
}

.box {
  /* background-color: #f8d2b5; */
  padding: 35px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border: #741ee5 5px solid;
}
.box h3 {
    margin: 0;
    font-size: 20px;
    margin-top: 24px;
}
p {
    margin: 0;
    font-size: 18px;
    margin-top: 16px;
}
img {
    /* border: #4f09aa 0px solid; */
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 163px 20px 163px;
  text-align: center;
}

nav {
  /* background-color: #eec840; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  /* background-color: #f8d2b5; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.logo-name {
  /* background-color: #4f09aa; */
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  font-size: 28px;
}
.menu {
  /* background-color: #8b40ee; */
}

.menu ul {
  /* background-color: #ad81e8; */
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 43px;
  padding: 0 0 0 24px;
  font-size: 24px;
}
.btn {
/* background-color: aqua; */
display: flex;
gap: 25px;
/* align-self: center; */
}

.btn-primary {
  background-color: #741ee5;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  border: 2px solid #741ee5;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: #fcfcfc;
  color: #741ee5;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid #741ee5;
}

.btn-secondary {
  background-color: #ffffff;
  color: #741ee5;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid #741ee5;
  font-size: 20px;
}
.btn-secondary:hover {
  background-color: #5f0fc7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 2px solid #741ee5;
}

.content {
    font-size: 20px;
    width: fit-content;
    margin: 0;
    margin-top: 16px;
}
a {
  text-decoration: none;
  color: #710ccf;
}

a:hover {
  color: #59c7fb;
}